
/*colour pallette: https://coolors.co/palette/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08 */
:root {
  --main-colour: #f48c06 ;
  --secondary-colour: #370617;
  --accent-colour: #03071E;
  --secondary-accent-colour: #6A040F;
}

/*Reset base template*/
* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--accent-colour);
  background-color: var(--main-colour);
  font-family: calibri;
}

h1 {
  color: var(--secondary-colour);
  font-size: 3em;
  padding-bottom: 1vh;
}

h2 {
  color: var(--secondary-colour);
  font-size: 2em;
  padding-top: 5vh;
}


#header {
  display: flex;
  flex-direction: column;
  align-items: left; 
  padding-top: 10vh;
  padding-bottom: 1vh;
  margin-left: 20vw;
  width: 60vw;
}


#header > p { 
  font-family: "lucida console";  
  font-size: 1em;
}


  /*media query --> welcome section for smaller screens*/
  @media only screen and (max-width: 1024px) {
    #header {
      width: 90vw;
      margin-left: 5vw;
    }

    #header > p { 
      font-size: 1.2em;
    }
  }


#site {
  position: fixed;
  top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-left: 20vw;
  padding: 0.5rem 1rem; 
  background-color: var(--main-colour);
  font-size: 1.5em;
}

a:link {
  color: var(--accent-colour);
  text-decoration: none;
}

a:visited {
  color: var(--accent-colour);
}

a:hover {
  text-decoration: underline;
}


/*media query --> full witdh nav bar for smaller screens*/
@media only screen and (max-width: 1024px) {
  #site {
    gap: 1rem 1rem;
    font-size: 1.2em;
    margin-left: 5vw;
    padding: 0.5rem 0.5rem; 
    line-height: 0.8;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: left;
  margin-left: 20vw;
  margin-bottom: 20vh;
  width: 60vw;
  line-height: 1.5;
}



article > p {
  font-size: 1.5em;
}


/*media query --> sections in main for smaller screens*/
@media only screen and (max-width: 1024px) {
  main {
    width: 90vw;
    margin-left: 5vw;
    font-size: 1.0em;
  }
}

  @media only screen and (max-width: 1024px) {
    h1 {
    font-size: 2em;
    }

    h2 {
      font-size: 1.5em;
      }
  }


footer {
  background-color: var(--main-colour);
  margin-top: -0.5em;
  padding: 1em;
  position: fixed; 
  bottom: 0;
  width: 100vw;
}

#social-media-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

#copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0.5rem;
}

/* social media connect icons*/
.fa {
  font-size: 1em;
  width: 40px;
  text-align: center;
  text-decoration: none;
  color: var(--accent-colour);
}

/* hover effect for social media connect icons */
.fa:hover {
  opacity: 0.6;
}




