/*Declaring variables*
colour pallette: https://colorswall.com/palette/107/ */
/* medium feed - https://medium.com/feed/@agnes.beviz */



body {
    color: blue;
    font-family: calibri;
    background-color: lightblue;
  }

