
/* new colour pallette: https://coolors.co/palette/03071e-370617-6a040f-9d0208-d00000-dc2f02-e85d04-f48c06-faa307-ffba08 */
:root {
  --main-colour: #f48c06 ;
  --lighter-than-main: #FAA307;
  --secondary-colour: #370617;
  --accent-colour: #03071E;
  --secondary-accent-colour: #6A040F;
}

/*Reset base template*/
* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--accent-colour);
  background-color: var(--main-colour);
  font-family: calibri;
}

h1, h2 {
  color: var(--secondary-colour);
  font-size: 3em;
}



#welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left; 
  padding-top: 15vh;
  margin-left: 20vw;
  width: 60vw;
}

#portrait {
  height: 25vh;
  width: 25vh;
  align-self: left;
}

#welcome > p { 
  font-family: "lucida console";
  margin-top: 10px;  
  font-size: 2em;
}


  /*media query --> welcome section for smaller screens*/
  @media only screen and (max-width: 1024px) {
    #welcome {
      width: 90vw;
      align-items: center; 
      margin-left: 5vw;
    }

    #welcome > p { 
      font-size: 1.3em;
    }
    
    #portrait {
      height: 20vh;
      width: 20vh;
    }
  }


#site {
  position: fixed;
  top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-left: 20vw;
  padding: 0.5rem 1rem; 
  background-color: var(--main-colour);
  font-size: 1.5em;
}

a:link {
  color: var(--accent-colour);
  text-decoration: none;
}

a:visited {
  color: var(--accent-colour);
}

a:hover {
  text-decoration: underline;
}


/*media query --> full witdh nav bar for smaller screens*/
@media only screen and (max-width: 1024px) {
  #site {
    gap: 1rem 1rem;
    font-size: 1.2em;
    margin-left: 5vw;
    padding: 0.5rem 0.5rem; 
    line-height: 0.8;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: left;
  margin-left: 20vw;
  margin-bottom: 20vh;
  width: 60vw;
  line-height: 1.2;
  font-size: 1.5em;
}

ul {
  list-style-position:inside;
}

#blog {
  display: flex;
  flex-direction: column;
}

section {
  padding-top: 10vh;
}

/*Styling for projects section*/

/*Container grid for project tile grid */
#project-tiles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: auto;
  
}

/* Media query to change grid to 1 columns for smaller screens */
@media only screen and (max-width: 1024px) {
  #project-tiles {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-top: 3vh;
  }
  
}

/* Project tile elements */
.project-tile {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
	align-items: center;
	justify-content: center;
  border-radius: 5%;
  box-shadow: 2px 2px 2px 0px var(--secondary-accent-colour);
  width: 100%;
  height: auto;
  padding: 1vh;
  margin: 2vh;

}

.project-image {
  margin: auto;
  display: block;
  object-fit: cover;
  width: 80%;
  height: auto;
  border-radius: 2%;
  margin-top: 1%;
 
}

/*Project captions*/
#project-caption {
  text-align: center;
  font-size: 1em;
  margin: auto 1rem;
  background-color: var(--main-colour);
  width: 95%;
}


/*media query --> about me section for smaller screens*/
@media only screen and (max-width: 1024px) {
  main {
    width: 90vw;
    margin-left: 5vw;
    margin-top: 15vh;
    font-size: 1.0em;
  }
}

  @media only screen and (max-width: 1024px) {
    h1, h2 {
    font-size: 2em;
    }
}



footer {
  background-color: var(--main-colour);
  margin-top: -0.5em;
  padding: 1em;
  position: fixed; 
  bottom: 0;
  width: 100vw;
}

#social-media-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-top: 2vh;
}

footer > p {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

/* social media connect icons*/
.fa {
  padding: 1vh;
  font-size: 1em;
  width: 30px;
  text-align: center;
  text-decoration: none;
  color: var(--accent-colour);
}

/* hover effect for social media connect icons */
.fa:hover {
  opacity: 0.6;
}
